@use "../../styles/partials/variables" as *;

.feature-block {
    width: 50%;
    background-color: #f2f5f7;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    @include flex-col($gap: $spacing-4);
    padding: $spacing-10;

    &__icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        object-fit: contain;
    }
}
