@use "../../styles/partials/variables" as *;

.feature-inline {
    border-radius: 10px;
    padding: $spacing-10 $spacing-16;
    @include flex-row($spacing-8);
    align-items: center;

    &__icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        object-fit: contain;
    }
}
