@use "../../styles/partials/variables" as *;

.feature-inline {
    border-radius: 16px;
    padding: $spacing-8 $spacing-16;
    @include flex-row($spacing-8);
    align-items: center;

    &__icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        object-fit: contain;
    }
    &:last-child {
        border-radius: 16px;
        background-color: #f3f5f7;
    }
}
