@use "../../styles/partials/variables" as *;

.top-nav {
	padding: $spacing-16 $spacing-16 $spacing-16 $spacing-8;
	@include flex-row($spacing-8);
	align-items: center;

	&__back-icon {
		cursor: pointer;
	}

	&__query-wrapper {
		flex-grow: 1;
		line-height: 0;
		padding: 8px;
		background-color: #eff0f2;
		border-radius: 4px;
	}

	&__query-image {
		border-radius: 4px;
		width: 36px;
		height: 36px;
		aspect-ratio: 1/1;
		object-fit: contain;
	}
}

.tabs {
	&__list {
		list-style: none;
		@include flex-row;
	}

	&__item {
		cursor: pointer;
		color: #6e757f;
		font-size: 14px;
		padding: $spacing-8 $spacing-16;
		font-weight: 500;

		&.active {
			color: #0d1015;
			border-bottom: 2px solid #0d1015;
		}
	}
}

.posts {
	line-height: 0;

	&__list {
		@include flex-row(2px);
		flex-wrap: wrap;
	}

	&__image-item {
		flex: 1 1 30%;
		line-height: 0;
	}

	&__image {
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
	}
}

.profile {
	@include flex-col;

	&__title {
		padding: $spacing-12;
		font-size: 14px;
		font-weight: 500;
		@include flex-row($spacing-12);
		align-items: center;
	}

	&__image {
		max-width: 36px;
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 100px;
	}
}

.suggestions {
	cursor: pointer;
	padding: $spacing-8 $spacing-12;
	@include flex-row($spacing-8);

	&__chip {
		font-size: 14px;
		background-color: #eff0f2;
		padding: $spacing-8;
		border-radius: 4px;
	}
}
