@use "../../styles/partials/variables" as *;

.ReactModal {
    &__Content--after-open {
        outline: none;
    }
}

.modal {
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem 1.25rem 0 0;
    &__content-wrapper {
        height: 100%;
    }
    &__features-top {
        padding: 0.5rem;
        @include flex-row($gap: $spacing-8);
    }
}
